<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="evtxplore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <evtxplore.Properties.Settings>
            <setting name="WdwLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WdwTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WdwHeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WdwWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WdwMaximized" serializeAs="String">
                <value>False</value>
            </setting>
        </evtxplore.Properties.Settings>
    </userSettings>
</configuration>